body {
  background-color: bisque;
}

h1 {
  color: cornflowerblue;
  transition: color 500ms ease-in;
}

.clicked {
  color: tomato;
}

.sexy-font {
  font-family: "Courier New", Courier, monospace;
}
